<h1 class="logoText">Welcome to Git Tribe Viewer</h1>
<div class="mdl-card__supporting-text">
<p>
Git Tribes Viewer is a new data visuamization concept, it's main purpose is to make the complex and boaring daskboards/interfaces more fun, by converting them to a game like ones. Our goal is to make people happy when they work, and encouraging them to do more work to impact the game/dashboard, hence improving their productivity (some sort of gamification as well). 
</p>
<p>
	When you login to Git Tribes Viewer, you can see a World Map containing all of your repositories. From there, you can select a repository to see more details. The following screenshot is what you'll see:
</p>
<img src="images/world_screenshot.png" width="800">
</div>