<h1>Welcome to Angular2 with Auth0</h1>
<button *ngIf="!loggedIn()" (click)="login()">Login</button>

<div class="mdl-layout__header-row" *ngIf="loggedIn()">
  <span class="mdl-layout-title"><img src="{{ profile.picture }}" width="60"></span>
  <div class="mdl-layout-spacer">
  	<a [routerLink]="['World']"><h3>{{ profile.nickname }}</h3></a>
  </div>
  <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable">
  	<button (click)="logout()">Logout</button>
  </div>
  <div>
  </div>
  
</div>