.world-container {
	position: relative;
	margin: 0 auto;
	width: 600px;
	height: 600px;
	overflow: hidden;
	border: 5px solid;
	border-radius: 10px;
}

.world {
	position: relative;
	margin: auto;
	background-image: url('/images/world.png');
	cursor: pointer;
}

.lake {
	position: absolute;
	width: 80px;
	height: 80px;
	background-image: url('/images/lake.png');
	color: lightgreen;
}

.forest {
	position: absolute;
	width: 120px;
	height: 80px;
	background-image: url('/images/forest.png');
	color: lightgreen;
}

.trees {
	position: absolute;
	width: 40px;
	height: 40px;
	background-image: url('/images/trees.png');
	color: lightgreen;
}

.stones {
	position: absolute;
	width: 40px;
	height: 40px;
	background-image: url('/images/stones.png');
	color: lightgreen;
}