.mdl-content {
	position: relative;
	margin: 0;
}
.world-container {
	position: relative;
	margin: 0 auto;
	width: 600px;
	height: 600px;
	overflow: hidden;
	border: 5px solid;
	border-radius: 10px;
}

.world-container-header {
	margin: 0 auto;
	width: 600px;
	padding-right: 0;
}

.world-container-header .mdl-tooltip {
	margin-top: 8px;
	width: 604px !important;
	height: 600px !important;
	max-width: 604px !important;
	max-height: 596px !important;
	margin-left: -586px !important;
	padding-right: 0;
	border-radius: 10px;
}

.world-container-header .mdl-tooltip .demo-card-square {
	width: 596px !important;
    height: 596px !important;
}

.world-container-header i {
	background-color: #8B9B0D;
	cursor: pointer;
}

.world {
	position: relative;
	margin: auto;
	background-image: url('/images/world.png');
	cursor: pointer;
}

.lake {
	position: absolute;
	width: 80px;
	height: 80px;
	background-image: url('/images/lake.png');
	color: lightgreen;
}

.forest {
	position: absolute;
	width: 120px;
	height: 80px;
	background-image: url('/images/forest.png');
	color: lightgreen;
}

.trees {
	position: absolute;
	width: 40px;
	height: 40px;
	background-image: url('/images/trees.png');
	color: lightgreen;
}

.stones {
	position: absolute;
	width: 40px;
	height: 40px;
	background-image: url('/images/stones.png');
	color: lightgreen;
}

.world-loading {
	width: 40px;
	margin: 0 auto;
}

.world-loading div {
	background-color: white;
}

.commiters {
	width: 100%;
}

.forks {
	width: 100%;
}

